.button {
  font: inherit;
  padding: 0.5rem 2rem;
  background: #63f2c4;
  border: 1px solid #0028ab;
  color: rgb(196, 82, 245);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #ec40c1;
  border-color: #d042d3;
}
