.button {
  font: inherit;
  padding: 0.5rem 2rem;
  background: #63f2c4;
  border-radius: 8rem;
  border: 2px solid #cc46ba;
  color: rgb(196, 82, 245);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #f0bee3;
  border-color: #d042d3;
}
